<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-cars></app-cars>
    </div>
  </div>

  <ul class="list-group">
    <li *ngFor="let item of items" (click)="onClick(item)" class="list-group-item">
      {{item}}
    </li>
  </ul>
  <div [ngSwitch]="current">
    <p *ngSwitchCase="1">1</p>
    <p *ngSwitchCase="2">2</p>
    <p *ngSwitchCase="3">3</p>
    <p *ngSwitchDefault>default</p>
  </div>

  <app-my></app-my>

  <div class="col-xs-8 col-xs-offset-2">
    <h2>{{current}}</h2>
    <h2>{{current | appPow:3}}</h2>
  </div>

  <div class="col-xs-8 col-xs-offset-2">
    <h1>{{ asyncTitle | async}}</h1>
    <input type="text" class="form-control" [(ngModel)]="searchCar">
    <hr>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let car of cars  | myTestPipe:searchCar ; let i = index">
        <b>{{i+1}}</b> {{car.name}}, Год: <b> {{car.year}}</b>
      </li>
    </ul>
  </div>

  <div class="col-xs-8 col-xs-offset-2">
    <app-add-carr (onCarAdd)="addCarToList($event)"></app-add-carr>
    <div class="list-group">
      <app-carr *ngFor="let car of cars" [carr]="car"></app-carr>
    </div>
  </div>
</div>
