<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-cars></app-cars>
    </div>
  </div>

  <ul class="list-group">
    <li *ngFor="let item of items" (click)="onClick(item)" class="list-group-item">
      {{item}}
    </li>
  </ul>
  <div [ngSwitch]="current">
    <p *ngSwitchCase="1">1</p>
    <p *ngSwitchCase="2">2</p>
    <p *ngSwitchCase="3">3</p>
    <p *ngSwitchDefault>default</p>
  </div>

  <app-my></app-my>
</div>
