<p>Форма добавления машины</p>
<hr>
<app-add-car (onAddCar)="updateCarList($event)"></app-add-car>

<div class="list-group">
  <!-- carItem - то свойство, за которым будет следить компонент, чтобы знать, откуда брать данные -->
  <app-car class="list-group-item" *ngFor="let car of cars" [carItem]="car">
    <!-- Элемент <div class="alert alert-info"> будет вставлен в car.component.html вместо тега <ng-content/> -->
    <div class="alert alert-info">Эта машина продана!</div>
  </app-car>

</div>

