<p>Форма добавления машины</p>
<hr>
<app-add-car (onAddCar)="updateCarList($event)"></app-add-car>

<button class="btn btn-success" (click)="changeCarName()">Изменить имя машины</button>
<button class="btn btn-danger" (click)="deleteCar()">Удалить машину!</button>
<hr>
<div class="list-group">
  <!-- carItem - то свойство, за которым будет следить компонент, чтобы знать, откуда брать данные -->
  <app-car class="list-group-item" *ngFor="let c of cars" [carItem]="car" [name]="c.name">
    <!-- Элемент <div class="alert alert-info"> будет вставлен в car.component.html вместо тега <ng-content/> -->
    <div class="alert alert-info">Эта машина продана!</div>
    <h4 #carHeading class="list-group-item-heading"> Название: {{c.name}}</h4>
    <p>Модель: {{c.model}}, Год: {{c.year}}, Цена: {{c.price}}</p>
  </app-car>

</div>

